
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    

}
.nav-items,ul,li{
    font-size: 20px;
    display: flex;
    margin: 7px;
    padding: 7px;
    }

    .res-card{
        
        width: 390px;
        padding: 5px;
        margin: 20px;
    }
    .res-card:hover{
        border: 1px solid black;
        cursor: pointer;
    }
    .search{
        padding: 10px;
    }
    .restaurant-container{
        display: flex;
        flex-wrap: wrap;
        margin: 50px;
        margin-left: 70px;
        
    }
    .image{
        width:100%;
        height: 200px;
    }
    .filter-btn
    {
padding: 0px;
margin-left: 36px;
cursor:pointer;
margin-top: 8px;
height: 24px;


    }

    .democard{
        background-color: #f0f0f0;
        width: 400px;
        padding: 5px;
        margin: 20px;
        height: 400px;
    }
    .card-container
    {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        margin: 50px;
        padding-top: 30px;
    }

    .button{
       padding: 20px; 
        margin-left: 5px;
        height: 50px;
        cursor: pointer;
    }
    
    .searchbtn{
        margin-left: 5px;
    }


    .filter{
      display: flex;  
    }

    .list{
        display: inline-block;
    
    }

    .user-card{
        padding: 10px;
        border: 1px solid black;
    }